.profile-page-row {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
}

.profile-page-note-column {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    width: 100%;
}