.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-veil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--veil);
    z-index: -1;
    pointer-events: none;
}

.layout-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.main {
    min-height: calc(100vh - 114px);
}

.folder {
    position: relative;
    padding: 20px 10px;
    min-height: 600px;
    width: 100%;
    background-color: var(--jasmine);
}

.folder-inner {
    min-height: 600px;
    width: 100%;
    background-color: var(--white);
}

.section-padding {
    padding: 40px calc(8% + 50px);
}

@media screen and (max-width: 1024px) {
    .section-padding {
        padding: 40px 20px;
    }
}