.profile-form {
    border: 2px solid var(--gray);
    border-radius: 4px;
    padding: 10px 20px;
    width: 100%;
    max-width: 600px;
    font-family: "Courier Prime", monospace !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-row {
    display: flex;
    gap: 10px;
}

.profile-form legend {
    font-size: 1.6rem;
    color: var(--turkey-red);
    font-weight: bold;
    font-family: "Courier Prime", monospace !important;
}

.profile-form fieldset {
    margin-bottom: 5px;
    border: 2px solid var(--onyx);
    border-radius: 4px;
    padding: 15px;
    background-color: #fff;
}

.profile-form label {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    padding: 6px 10px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--onyx);
    font-family: "Courier Prime", monospace !important;
}

.profile-form-input {
    width: 100%;
    font-size: 1.4rem;
    font-family: "Courier Prime", monospace !important;
}

.profile-form-input.attribute {
    text-align: end;
}

.plus-input {
    border-radius: 4px;
    padding: 5px;
    height: 30px;
    width: 30px;
    background-color: var(--jasmine);
    font-size: 1.4rem;
    font-weight: 900;
    font-family: "Courier Prime", monospace !important;
    -moz-appearance: textfield !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    text-align: center !important;
}

.plus-input::-webkit-outer-spin-button,
.plus-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.plus-input[type=number] {
    -moz-appearance: textfield !important;
}

@media screen and (max-width: 640px) {
    .form-row {
        flex-direction: column;
        gap: 0px;
    }
}