.flaw-note {
    padding: 18px 12px 16px 12px;
    min-height: 160px;
    height: 160px;
    min-width: 240px;
    width: 240px;
    background: radial-gradient(circle, var(--light-red) 0%, var(--bittersweet) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.65);
    transform: rotate(-5deg);
    transition: box-shadow 0.22s;
    z-index: 1;
}

.flaw-note:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.65);
}

.flaw-note-label {
    color: var(--night);
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Indie Flower", cursive !important;
}

.flaw-note-text {
    height: 90%;
    width: 100%;
    color: var(--gun-metal);
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Indie Flower", cursive !important;
    resize: none;
}