.navbar {
    display: flex;
    flex-direction: row;
}

.navbar a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    font-size: 1rem;
    cursor: pointer;
}

.navbar a svg {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    fill: #fff;
    transform: rotate(90deg);
}

.navbar a span {
    color: #fff;
    font-size: 1.6rem;
    vertical-align: middle;
}