.navbar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    height: 30px;
    width: 100%;
}

.navbar-link {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: -15px;
    border: 1px solid var(--gray);
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    padding: 0 12px;
    background-color: var(--anti-flash-white);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    z-index: 1;
}

.navbar-link svg {
    color: var(--night);
}

.navbar-link span {
    color: var(--night);
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-link:first-child {
    margin-left: 0;
}

.navbar-link:hover,
.navbar-link:focus {
    border-color: var(--gun-metal);
    background-color: var(--white);
    box-shadow: 0 2px 5px #00000026;
    z-index: 10;
}

.navbar-link.active {
    border-color: var(--gun-metal);
    background-color: var(--white);
    box-shadow: 0 2px 5px #00000026;
    z-index: 20;
}

@media screen and (max-width: 1024px) {
    .navbar-link span {
        display: none;
    }
}