.stunt-note {
    padding: 18px 12px 16px 12px;
    min-height: 300px;
    height: 300px;
    min-width: 260px;
    width: 260px;
    background: radial-gradient(circle, var(--white) 0%, var(--anti-flash-white) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.65);
    transform: rotate(1deg);
    transition: box-shadow 0.22s;
    z-index: 3;
}

.stunt-note:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.65);
}

.stunt-note-label {
    color: var(--turkey-red);
    font-size: 1.6rem;
    font-weight: 700;
    font-family: "Indie Flower", cursive !important;
}

.stunt-note-text {
    height: 90%;
    width: 100%;
    color: var(--onyx);
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "Indie Flower", cursive !important;
    resize: none;
}