@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --anti-flash-white: #F2F3F4;
  --gray: #808080;
  --gun-metal: #2B3137;
  --jasmine: #fcd472;
  --jet: #2B2B2A;
  --onyx: #444444;
  --maize: #FFF05A;
  --night: #12130F;
  --royal-blue: #305CDE;
  --shamrock-green: #2E9E59;
  --turkey-red: #b30000;
  --veil: #08080866;
  --white: #FFFEFE;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}