.hero-section-attributes {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 4px;
    padding: 4px;
}

.hero-section-attributes div {
    display: flex;
    gap: 4px;
}

.hero-section-attribute {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 700;
}

.hero-section-attribute h3 {
    color: #ffffff;
    font-size: 0.95rem;
    font-weight: 500;
}

.hero-section-attribute p {
    margin: 0;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}

.hero-section-attribute p span {
    margin-left: 1px;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}